<div>
    <p>
        Named-entity recognition (NER) (also known as (named) entity identification, entity chunking, and entity extraction) is a subtask of information extraction that seeks to locate and classify named entities mentioned in unstructured text into pre-defined categories such as person names, organizations, locations, medical codes, time expressions, quantities, monetary values, percentages, etc.
    </p>
    <p>
        In the expression named entity, the word named restricts the task to those entities for which one or many strings, such as words or phrases, stands (fairly) consistently for some referent. For instance, the automotive company created by Henry Ford in 1903 can be referred to as Ford or Ford Motor Company, although "Ford" can refer to many other entities as well. <a href="https://en.wikipedia.org/wiki/Named-entity_recognition">Wikipedia</a>
    <p>
        Libraries Compared: <a href="https://textblob.readthedocs.io/en/dev/">TextBlob</a> and <a href="https://spacy.io/">SpaCy</a>
    </p>
</div>