<div>
    <p>
        Sentiment analysis (also known as opinion mining or emotion AI) is the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information. A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level—whether the expressed opinion in a document, a sentence or an entity feature/aspect is positive, negative, or neutral. Advanced, "beyond polarity" sentiment classification looks, for instance, at emotional states such as enjoyment, anger, disgust, sadness, fear, and surprise. <a href="https://en.wikipedia.org/wiki/Sentiment_analysis">Wikipedia</a>
    </p>
    <p>
        Libraries Compared: <a href="https://textblob.readthedocs.io/en/dev/">TextBlob</a> and <a href="https://github.com/cjhutto/vaderSentiment">VADER</a>
    </p>
</div>