{% extends "base.html" %}
{% block content %}


<div class="container">
	<div class="jumbotron text-center">
		<h2> 
            {% block title %}
            
            {% endblock %}
        </h2> 
	</div>
</div>

<div class="container text-center">
    <p>
        {% block text %}
        
        {% endblock %}
        </p>
</div>


<div id="text-input" class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="POST" id="text-input-form">
		        <label >Enter Text To Be Analyzed</label>
                <textarea class="form-control" rows="3" cols="2" name="input-text"></textarea>
                <input type="submit" onclick="myAnalyser()" value="Analyse" class="btn btn-primary">            
            </form>
        </div>
    </div>
	
</div>

<div id="comparison-output" class="container">
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                {% block library-1-output %}
            
                {% endblock %}
            </div>
        </div>
        <div class="container">
            <div class="col-md-6">
                {% block library-2-output %}
            
                {% endblock %}
            </div>
        </div>        
      </div>
</div>

{% endblock %}